<!DOCTYPE html>
<html lang="en" style="background-color: #EEEEEE;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@.1.2/css/themify-icons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/dash_style.css">
        <script src="https://kit.fontawesome.com/91e4545beb.js" crossorigin="anonymous"></script>
    </head>
    <body style="background-color: #EEEEEE;">
        
        
            <main style="background-color: #EEEEEE;">
                <h2 class="dash-title" style="background-color: #EEEEEE;">Developers</h2>
                <div class="dash-cards " style="background-color: #EEEEEE; ">

                    <div class="card-single" style = "width: 23.5rem;">
                        <div class="card-header text-white" style="background-color: #6d5cad; font-weight: bold; font-size: large;">
                            Alapati Venkata Sai Sriram
                        </div>
                        <div class="card-body">
                            <img src="../img/Profile-5.jpeg" height="312px" width="334px">
                            
                        </div>
                        <h2 style="padding-left:30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#444444;">CB.EN.U4CSE18106</h2>
                    </div>
                    
                    

                    <div class="card-single" style = "width: 23.5rem;">
                        <div class="card-header text-white" style="background-color: #6d5cad; font-weight: bold; font-size: large;">
                            Ankitha Krishnamoorthy 
                        </div>
                        <div class="card-body">
                            <img src="../img/Profile-2.jpg" height="312px" width="334px">
                            
                        </div>
                        <h2 style="padding-left:30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#444444;">CB.EN.U4CSE18107</h2>
                    </div>

                    <div class="card-single" style = "width: 23.5rem;">
                        <div class="card-header text-white" style="background-color: #6d5cad; font-weight: bold; font-size: large;">
                            Shashank Varma P
                        </div>
                        <div class="card-body">
                            <img src="../img/Profile-6.jpeg" height="312px" width="334px">
                            
                        </div>
                        <h2 style="padding-left:30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#444444;">CB.EN.U4CSE18139</h2>
                    </div>

                </div>

                    &nbsp;
                <div class="dash-cards " style="background-color: #EEEEEE; ">
                    


                    <div class="card-single" style = "width: 23.5rem;">
                        <div class="card-header text-white" style="background-color: #6d5cad; font-weight: bold; font-size: large;">
                            Roopa Vidhya G
                        </div>
                        <div class="card-body">
                            <img src="../img/Profile-1.png" height="312px" width="334px">
                        </div>
                        <h2 style="padding-left:30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#444444;">CB.EN.U4CSE18143</h2>
                        
                    </div>


                    

                    <div class="card-single" style = "width: 23.5rem;">
                        <div class="card-header text-white" style="background-color: #6d5cad; font-weight: bold; font-size: large;">
                            C Sainath
                        </div>
                        <div class="card-body">
                            <img src="../img/Profile-3.jpeg" height="312px" width="334px">
                            &nbsp;
                            

                        </div>
                        <h2 style="padding-left:30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#444444;">CB.EN.U4CSE18146</h2>
                    </div>


                    <div class="card-single" style = "width: 23.5rem;">
                        <div class="card-header text-white" style="background-color: #6d5cad; font-weight: bold; font-size: large;">
                            Thukkaram S
                        </div>
                        <div class="card-body" style="align-items: center;">
                            
                            <img src="../img/Profile-4.png" >
                            
                        </div>
                        <h2 style="padding-left:30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#444444;">CB.EN.U4CSE18156</h2>
                    </div>

                </div>

            </main>
        </div>
            
        
    </body>
</html>